<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="Connection" 
         value="server=localhost,1433;database=A8270;user id=Test_User_A;password=aaa"/>
  </appSettings>
</configuration>